.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.navbar {
    background-color: black;
    padding: 1em;
    color: white;
}

.navbar_items {
    margin: 0;
     display:flex; 
    flex-direction: row;
    list-style-type: none;
}

.navbar_items li:first-child {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: auto;
}

.navbar_items li.nav_aux {
 margin-left: 2em;
}

.footer {
    background-color: black;
    padding: 1%;
    color: white;
    text-align: center;
}


